{% extends 'base.html' %}
{% import 'forms/forms.html' as wtf %}

{% block app_content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% include 'navbar/messages.html' %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="psswd-vars" id="psswd_min_len">{{min}}</div>
      <div class="psswd-vars" id="psswd_max_len">{{max}}</div>
      <h1>Register New User</h1>
      <hr>
      {{ wtf.quick_form(form, button_map={'submit': 'secondary'}) }}
    </div>
  </div>
{% endblock %}
{% block ps %}
  <script src="{{ url_for('static', filename='js/register_ps_check.js') }}"></script>
{% endblock %}